.portfolio-grid {
    display: grid;
    row-gap: 3rem;
    column-gap: 2rem;
    grid-template-rows: repeat(1,minmax(0,1fr));
    grid-template-columns: repeat(3,minmax(0,1fr));
    margin-left: auto;
    margin-right: auto;

    align-content: center;
    text-align: center;

    @include mobile {
    grid-template-columns: repeat(1,minmax(0,1fr));
    row-gap: 2rem;
    }
    @include mobile-large {
    grid-template-columns: repeat(2,minmax(0,1fr));
    }
}

.portfolio-grid-container {
    box-sizing: border-box;
    display: block;
    border: 1px solid var(--card-bg-dark);
    border-radius: 0.375rem;
    color: var(--body-color-light);

    grid-row: span 2/span 2;
    padding: 1rem;
}

.portfolio-grid-container:hover {
    color: var(--body-color-dark);
    box-shadow: 0 0 10px var(--card-bg);
}

.portfolio-grid-image {
    border-radius: 0.375rem;
    overflow: clip;
    overflow-clip-margin: content-box;
}

.portfolio-grid-title {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.portfolio-grid-container:hover > .portfolio-grid-title {
    text-decoration: underline;
}

.portfolio-grid-text {
    font-size: 16px;
    margin: 0 1rem 0 1rem;
}

.portfolio-grid-year {
    font-weight: bold;
    font-size: 16px;
    margin: 0.25em 1rem 0 1rem;
}

.portfolio-grid-icons-container {
    position: relative;
    float: right;
}

.portfolio-grid-icons {
    position:absolute;
    opacity: 75%;
    width: 32px;
    height:200px;
    transform: translate(-24px, -192px) scaleY(-1);
    text-align: right;
}

.portfolio-grid-icon {
    width: 32px;
    transform: scaleY(-1);
}

.portfolio-grid-icon-tag {
    color: var(--body-color-dark);
    transform: scaleY(-1) translate(40px, 40px);
    border: 1px solid var(--card-bg-dark);
    border-radius: 0rem 0.375rem 0.375rem 0rem;
    position: absolute;
    visibility: hidden;
    width: auto;
    background-color: var(--body-bg);
    padding: 0px 5px;
}

.portfolio-grid-icon:hover + .portfolio-grid-icon-tag {
    visibility: visible;
}

.portfolio-content {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
}

.filter-button, .filter-button-selected {
    background-color: var(--card-bg-dark);
    color: var(--body-color-light);
    border: none;
    display: inline-block;
    padding: 4px 12px 4px 12px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
}

.filter-button-selected {
    background-color: var(--card-bg);
}