.full {
    width: 100%;
    margin: 0;
}

.half, .half-l, .half-r {
    width: 49.5%;
    margin: 0;
    
    @include mobile {
    width: 100%;
    }
    @include mobile-large {
    width: 100%;
    }
}

.half-r {
    float: right;
}

.gap01 {
    margin: 1em 0 0 0;
}

.gap02 {
    margin: 2em 0 0 0;
}

.gap03 {
    margin: 3em 0 0 0;
}

.aspect16-9 {
    aspect-ratio: 16 / 9; 
}

.pdf-embed {
    background-color: white;
    width:100%;
    max-width: 900px;
    height:1160px;

    @include mobile {
    height:700px;
    }
}

.pdf-embed-short {
    background-color: white;
    width:100%;
    height:800px;

    @include mobile {
    height:600px;
    }
}
