---
layout: default
---

<article class="gallery">
  <h1>{{ page.title }}</h1>

  <div class="entry">
      {{ content }}
  </div>
    
  <br>

  <div class="project-grid">
  {% for project in site.projects %}
    <div class="project-grid-container">
      <a href="{{ site.baseurl }}{{ project.url }}">
        <img class="project-grid-image" src="{{ site.baseurl }}{{ project.url }}{{ project.thumbnail }}" alt="Project Image">
      </a>

      <h1 class="project-grid-title">
        <a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a>
      </h1>

      <p class="project-grid-text">{{ project.description }}</p>
      <p class="project-grid-text">{{ project.role }}</p>
      <p class="project-grid-year">{{ project.year }}</p>
    </div>
  {% endfor %}
  </div>
</article>
