---
layout: portfolio-default
---

<article class="gallery">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <br>

  <div class="portfolio-grid">
    {% for project in site.portfolio %}
    {% if project.gallery %}
    <a href="{{ site.url }}{{ project.url }}">
      <div class="portfolio-grid-container" {% if project.bordercolor %}style="border: 1px solid #{{ project.bordercolor }}" {% endif %}>
        <img class="portfolio-grid-image" src="{{ site.url }}{{ project.url }}{{ project.thumbnail }}" alt="Project Image">
        <h1 class="portfolio-grid-title">{{ project.title }}</h1>
        <p class="portfolio-grid-text">{{ project.tagline }}</p>
        <p class="portfolio-grid-text">{{ project.role }}</p>
        <p class="portfolio-grid-year">{{ project.year }}</p>
      </div>
    </a>
    {% endif %}
    {% endfor %}
  </div>
</article>