---
layout: portfolio-default
---

<article class="gallery">
  {% unless page.hide-filter-buttons %}
  <div style="text-align: center;margin-top:10px;font-size: 12px">
    Filters:
    <a {% if page.filter=="gallery" %} class="filter-button-selected" {% else %} class="filter-button" {% endif %} href="{{ site.url }}/projects/">Portfolio</a>
    <a {% if page.filter=="gamelab" %} class="filter-button-selected" {% else %} class="filter-button" {% endif %} href="{{ site.url }}/game-lab/">Game Lab</a>
    <a {% if page.filter=="vastlab" %} class="filter-button-selected" {% else %} class="filter-button" {% endif %} href="{{ site.url }}/vast-lab/">VAST Lab</a>
    <a {% if page.filter=="any" %} class="filter-button-selected" {% else %} class="filter-button" {% endif %} href="{{ site.url }}/projects-all/">All</a>
  </div>
  {% endunless %}

  <div class="entry">
    {{ content }}
  </div>

  <br>

  <div class="portfolio-grid">
    {% assign projects = site.projects | sort: "priority" %}
    {% for project in projects %}
    {% if page.filter == "any" or project.filters contains page.filter %}
    {% unless project.hidden %}
    <a href="{{ site.url }}{{ project.url }}">
      <div class="portfolio-grid-container" {% if project.bordercolor %}style="border: 1px solid #{{ project.bordercolor }}" {% endif %}>
        <img class="portfolio-grid-image" src="{{ site.url }}{{ project.url }}{{ project.thumbnail }}" alt="Project Image">
        <h1 class="portfolio-grid-title">{{ project.title }}</h1>
        <p class="portfolio-grid-text">{{ project.tagline }}</p>
        <p class="portfolio-grid-text">{{ project.role }}</p>
        <p class="portfolio-grid-year">{{ project.year }}</p>
      </div>
    </a>
    {% endunless %}
    {% endif %}
    {% endfor %}
  </div>

  {% if page.footer %}
  <br>
  <br>
  <div style="text-align: center;">
    {% if page.footer-link %}
    <a href="{{ site.url }}{{ page.footer-link }}">{{ page.footer }}</a>
    {% else %}
    {{ page.footer }}
    {% endif %}
  </div>
  {% endif %}
</article>