---
layout: default
---

<div class="wrapper-masthead-static">
    <div class="container-full">
        <header class="masthead-full clearfix">
            <!--<a href="{{ site.url }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>-->

            <div class="site-info">
                <h1 class="site-name"><a href="{{ site.url }}/recipes/">Brandon Coffey's Recipes</a></h1>
            </div>
        </header>
    </div>
</div>

<div class="container-full" style="padding-top: 120px;">
    {{ content }}
</div>

<div class="wrapper-footer">
    <div class="container">
        <footer class="footer">
        </footer>
    </div>
</div>