---
layout: default
---

<article class="page">
    <div style="text-align: center;">
        <h1>{{ page.title }}</h1>

        <!--https://stackoverflow.com/questions/291813/recommended-way-to-embed-pdf-in-html-->
        <p><a href="{{ site.url }}/content/CoffeyBrandon_Resume.pdf" target="_blank">View or Download Resume PDF</a>.</p>
        <object class="pdf-embed" data="{{ site.url }}/content/CoffeyBrandon_Resume.pdf" type="application/pdf">
            <a href="{{ site.url }}/content/CoffeyBrandon_Resume.pdf" target="_blank">
                <img style="width: 100%; max-width: 800px;" src="{{ site.url }}/content/CoffeyBrandon_Resume.jpg" alt="Resume PDF" />
            </a>
        </object>

        <div class="entry">
            {{ content }}
        </div>
    </div>
</article>